---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<body class="h-full w-full flex flex-col justify-center items-center">
		<div
			class="w-full lg:min-w-[800px] py-9 flex flex-col md:flex-row justify-center items-center md:items-center animate-fade-in animate-delay-200 animate-duration-slow pt-[130px]"
		>
			<div class="text-start max-w-[280px] md:max-w-[400px]">
				<div class="">
					<h1 class="text-3xl text-dark font-sans">
						<b>SurviWeb</b>
					</h1>
					<p class="text-md">
						Ofrecemos un cliente y un servidor, con una web para
						documentar los mods y forma de instalar para los nuevos,
						<b class=""
							>hecho para jugar con tus amigos y Survi-Divertirte</b
						>
					</p>
				</div>
				<div class="w-full flex items-center justify-start my-2">
					<a
						href="#mods"
						class="bg-[#58627A] hover:bg-[#051438] text-white
						mr-2 mb-2 px-2.5 pb-1.5 pt-3
						 font-medium text-center
						justify-center inline-flex items-center flex-row
						rounded-lg border gap-x-2 opacity-90
						cursor-pointer hover:bg-kai-hover dark:bg-kai-hover dark:hover:bg-kai-bg hover:text-white
						hover:opacity-100 hover:bg-black-600
						hover:scale-110 hover:shadow-lg
						dark:focus:ring-black-300
						focus:ring-2 focus:outline-none focus:ring-black-30
						transition-all duration-200 ease-in-out scale-90"
					>
						Survi-Mods
					</a>

					<a
						href="https://www.tiktok.com/@survicraft_2"
						class="bg-[#58627A] hover:bg-[#051438]
						mr-2 mb-2 px-2.5 py-1.5
						 font-medium text-center
						justify-center inline-flex items-center flex-row
						rounded-lg border gap-x-2 opacity-90
						cursor-pointer hover:bg-kai-hover dark:bg-kai-hover dark:hover:bg-kai-bg hover:text-white
						hover:opacity-100 hover:bg-black-600
						hover:scale-110 hover:shadow-lg
						dark:focus:ring-black-300
						focus:ring-2 focus:outline-none focus:ring-black-30
						transition-all duration-200 ease-in-out scale-90"
						target="_blank"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="#fff"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path
								d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
							></path></svg
						></a
					>
					<a
						href="https://discord.com/invite/qpU4qSXBuT"
						class="bg-[#58627A] hover:bg-[#051438]
						mr-2 mb-2 px-2.5 py-1.5
						 font-medium text-center
						justify-center inline-flex items-center flex-row
						rounded-lg border gap-x-2 opacity-90
						cursor-pointer dark:bg-kai-hover dark:hover:bg-kai-bg hover:bg-kai-hover hover:text-white
						hover:opacity-100 hover:bg-black-600
						hover:scale-110 hover:shadow-lg
						dark:focus:ring-black-300
						focus:ring-2 focus:outline-none focus:ring-black-30
						transition-all duration-200 ease-in-out scale-90"
						target="_blank"
						><svg
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							viewBox="0 0 24 24"
							fill="none"
							stroke="#fff"
							stroke-width="2"
							stroke-linecap="round"
							stroke-linejoin="round"
							class="icon icon-tabler icons-tabler-outline icon-tabler-brand-discord"
							><path stroke="none" d="M0 0h24v24H0z" fill="none"
							></path><path d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
							></path><path
								d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
							></path><path
								d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3"
							></path><path d="M7 16.5c3.5 1 6.5 1 10 0"
							></path></svg
						></a
					>
				</div>
			</div>
			<div class="w-fit md:w-fit flex justify-center mt-8">
				<img
					src="/draco.gif"
					class="w-[150px] md:w-[250px] md:h-[250px] animate-jump animate-infinite animate-duration-1000"
					alt="Dragon del End"
				/>
			</div>
		</div>
		<h2 class="mt-10 text-center text-3xl underline"><b>Mejores del End</b></h2>
		<div class="w-full flex justify-center items-end px-4 md:px-0">
			
			<div class="mx-8 flex flex-col justify-center items-center">
				<div class="flex items-center justify-center">
					<img src="/egg.avif" class="size-15 mb-6" alt="Egg" />

					<h2 class="text-white text-3xl text-center w-full mb-2">
						<b>Sul1yoon</b>
					</h2>
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="50"
						height="50"
						viewBox="0 0 24 24"
						fill="none"
						stroke="#FFFF00"
						stroke-width="2"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="mb-6 icon icon-tabler icons-tabler-outline icon-tabler-crown"
						><path stroke="none" d="M0 0h24v24H0z" fill="none"
						></path><path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z"
						></path></svg
					>
				</div>
				<img
					src="https://render.crafty.gg/3d/bust/b63299eb85634044aebbb6f2ad495364"
					alt="Sul1yoon"
					class="size-40 md:size-70"
				/>
			</div>
			<div class="mx-8 flex flex-col justify-center items-center">
				<h2 class="text-white text-2xl text-center w-full mb-2">
					<b>svezeta</b>
				</h2>
				<img
					src="https://render.crafty.gg/3d/bust/0ee64b58019f497b90647f7074591b47"
					alt="svezeta"
					class="size-40 md:size-55"
				/>
			</div>
		</div>
		<br id="mods" />
		{/*generacion de mundo*/}
		<div class="flex flex-col justify-center mt-9 items-center">
			<h2
				class="text-center text-white text-2xl underline mb-2 max-w-[350px] md:w-full md:min-w-[450px]"
			>
				<b>Generación de Mundo:</b>
			</h2>
			<div
				class="style-none list-disc grid grid-cols-3 md:grid-cols-4 w-fit text-md text-serif dark:text-white"
			>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/biomes-o-plenty"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#668EBB] via-[#668EBB] to-[#93CF89] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/biomesoplenty.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Biomes O’ Plenty"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Biomes </b><br /><b class="group-hover:underline"
							>O’ Plenty</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/terrablender"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#57605C] via-[#B1B3B2] to-[#B1B3B2] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/terrablender.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="TerraBlender"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">TerraBlender</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/terralith"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/terralith.avif"
							class="absolute -rotate-6 h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Terralith"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Terralith</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/lithostitched"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#000] via-[#000] to-[#000] w-fit border rounded-lg m-2"
					>
						<img
							src="/lithostitched.avif"
							class="absolute w-full h-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Lithostitched"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Lithostitched </b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/geophilic"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#4A2E0C] via-[#4A2E0C] to-[#4A2E0C] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/geophilic.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Geophilic"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Geophilic</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/deeperdarker"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#332620] via-[#332620] to-[#332620] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/deeper.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="deeperdarker"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Deeper</b><br /><b class="group-hover:underline"
							>and Darker</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/tectonic"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#BCE2FF] via-[#7FA8FF] to-[#7FA8FF] w-fit border rounded-lg m-2"
					>
						<img
							src="/tectonic.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Tectonic"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Tectonic</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/explorify"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#F6642C] via-[#F67E31] to-[#F6642C] w-fit border rounded-lg m-2"
					>
						<img
							src="/explorify.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Explorify"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Explorify</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/deeper-caves"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/deepercaves.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Deeper Caves"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Deeper Caves</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/incendium"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/incendium.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Incendium"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Incendium</b>
					</p>
				</a>
			</div>
		</div>
		{/*estructuras*/}
		<div class="flex flex-col justify-center mt-9 items-center">
			<h2
				class="text-center text-white text-2xl underline mb-2 max-w-[350px] md:w-full md:min-w-[450px]"
			>
				<b>Estructuras:</b>
			</h2>
			<div
				class="style-none list-disc grid grid-cols-3 md:grid-cols-3 w-fit text-md text-serif dark:text-white"
			>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/when-dungeons-arise"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#B65644] via-[#B65644] to-[#B65644] w-fit border rounded-lg m-2"
					>
						<img
							src="/when.avif"
							class="absolute w-full h-full z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Dungeons Arise"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Dungeons</b><br /><b class="group-hover:underline"
							>Arise</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/when-dungeons-arise-fabric"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#9CB745] via-[#9CB745] to-[#9CB745] w-fit border rounded-lg m-2"
					>
						<img
							src="/arise.avif"
							class="absolutew-full h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Dungeons Arise"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Dungeons</b><br /><b class="group-hover:underline"
							>Arise</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/hopo-better-underwater-ruins"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/hopo.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Hopo Underwater"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Underwater</b>
					</p>
				</a>
			</div>
		</div>
		{/*gameplay*/}
		<div class="flex flex-col justify-center mt-9 items-center">
			<h2
				class="text-center text-white text-2xl underline mb-2 max-w-[350px] md:w-full md:min-w-[450px]"
			>
				<b>Gameplay:</b>
			</h2>
			<div
				class="style-none list-disc grid grid-cols-3 md:grid-cols-4 w-fit text-md text-serif dark:text-white"
			>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/alexs-mobs"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#B2D821] via-[#B2D821] to-[#B2D821] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/alex.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Alex’s Mobs"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Alex’s Mobs</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/ambient-additions"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#CBA36E] via-[#CBA36E] to-[#CBA36E] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/ambient.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Ambient Additions"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Ambient</b><br /><b class="group-hover:underline"
							>Addition</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/aquamirae"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#71ABD9] via-[#DFE3E6] to-[#FBFEFF] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/aqua.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="Aquamirae"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Aquamirae</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/carry-on"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#fff] via-[#fff] to-[#fff] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/carry.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="carryon"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Carry On</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/gravestone-mod"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#6C6C6C] via-[#9E9E9E] to-[#9E9E9E] p-2 w-fit border rounded-lg m-2"
					>
						<img
							src="/grave.avif"
							class="absolute -rotate-6 size-28 md:size-40 z-20 group-hover:-rotate-12 group-hover:scale-125 transition-transform"
							width={50}
							height={50}
							alt="gravestone"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Gravestone</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/travelers-backpack"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#200200] via-[#200200] to-[#200200] w-fit border rounded-lg m-2"
					>
						<img
							src="/back.gif"
							class="absolute z-20 h-full w-full"
							width={70}
							height={70}
							alt="Back"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Backpack</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/waystones"
					target="_blank"
					class="w-fit flex flex-col group"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from- via- to- w-fit border rounded-lg m-2"
					>
						<img
							src="/way.avif"
							class="absolute z-20 h-full w-full"
							width={70}
							height={70}
							alt="Back"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Waystones</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/critters-and-companions"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/critters.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Critters"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Critters</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/ecologics"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/ecologics.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Ecologics"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Ecologics</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/coastal-waves"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/waves.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Waves"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Waves</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/survive"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/survive.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Survive"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">Survive</b>
					</p>
				</a>
			</div>
		</div>
		{/*decoracion*/}
		<div class="flex flex-col justify-center mt-9 items-center">
			<h2
				class="text-center text-white text-2xl underline mb-2 max-w-[350px] md:w-full md:min-w-[450px]"
			>
				<b>Decoracion:</b>
			</h2>
			<div
				class="style-none list-disc grid grid-cols-3 md:grid-cols-3 w-fit text-md text-serif dark:text-white"
			>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/macaws-furniture"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/furniture.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Furniture"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Macaw's</b><br /><b class="group-hover:underline"
							>Furniture</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/macaws-holidays"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/holidays.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Holidays"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Macaw's</b><br /><b class="group-hover:underline"
							>Holidays</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/medieval-buildings"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/medievalstructures.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Medieval Buildings"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Medieval</b><br /><b class="group-hover:underline"
							>Buildings</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/medieval-buildings-nether-edition"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/medievalnether.webp"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Medieval Buildings"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Medieval</b><br /><b class="group-hover:underline"
							>Nether</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/exlines-furniture"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/exlinesfurniture.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Exline's Furniture"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Exline's</b><br /><b class="group-hover:underline"
							>Furniture</b
						>
					</p>
				</a>
			</div>
		</div>
		<!-- UI/UTILIDADES -->
		<div class="flex flex-col justify-center mt-9 items-center">
			<h2
				class="text-center text-white text-2xl underline mb-2 max-w-[350px] md:w-full md:min-w-[450px]"
			>
				<b>UI/Utilidades:</b>
			</h2>
			<div
				class="style-none list-disc grid grid-cols-3 md:grid-cols-3 w-fit text-md text-serif dark:text-white"
			>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/xaeros-minimap"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/minimap.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Xaeros Minimap"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Xaero's</b><br /><b class="group-hover:underline"
							>Minimap</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/xaeros-world-map"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/minimap.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Xaeros World Map"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Xaero's</b><br /><b class="group-hover:underline"
							>World Map</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/jei"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#93B8E2] via-[#93B8E2] to-[#93B8E2] w-fit border rounded-lg m-2"
					>
						<img
							src="/jid.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="Just Enough Items"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>Just</b><br /><b class="group-hover:underline"
							>Enough Items</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/worldedit"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#A44020] via-[#F76031] to-[#C27F6A] w-fit border rounded-lg m-2"
					>
						<img
							src="/worldedit.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="WorldEdit"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b>World</b><br /><b class="group-hover:underline"
							>Edit</b
						>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/luckperms"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#629402] via-[#96B756] to-[#96B756] w-fit border rounded-lg m-2"
					>
						<img
							src="/luckperms.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="LuckPerms"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">LuckPerms</b>
					</p>
				</a>
				<a
					href="https://www.curseforge.com/minecraft/mc-mods/tab"
					class="w-fit flex flex-col group"
					target="_blank"
				>
					<div
						class="relative hover:cursor-pointer hover:scale-105 hover:contrast-125 transition z-10 col-span-2 min-h-[100px] min-w-[100px] overflow-hidden bg-gradient-to-br from-[#629402] via-[#96B756] to-[#96B756] w-fit border rounded-lg m-2"
					>
						<img
							src="/tab.avif"
							class="absolute h-full w-full z-20 group-hover:-rotate-12 group-hover:scale-175 transition-transform"
							width={50}
							height={50}
							alt="TAB"
						/>
					</div>
					<p class="text-white text-sm text-center">
						<b class="group-hover:underline">TAB</b>
					</p>
				</a>
			</div>
		</div>
	</body>
</Layout>
