<link
    rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
/>
<link
    rel="stylesheet"
    href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
/>
<footer
    class="w-full text-serif  flex flex-col justify-between h-[300px] md:h-[250px] text-white"
>
    <div class="min-h-[150px] flex justify-center">
        <div
            class="text-start lg:text-left max-w-[350px] md:max-w-none lg: lg:min-w-[800px]"
        >
            <div class="w-full py-6">
                <div>
                    <h4 class="text-2xl font-sans">
                        <b>Contactanos</b>
                    </h4>
                    <div class="flex flex-col">
                        <span></span>
                    </div>
                </div>
                <div class="my-4 lg:mb-0">
                    <a
                        href="https://www.tiktok.com/@survicraft_2"
                        target="_blank"
                        class="hover:scale-110 bg-[#fff] transition-all duration-200 ease-in-out scale-90 shadow-lg font-normal h-10 w-10 items-center justify-center align-center rounded-full outline-none focus:outline-none mr-2 hover:cursor-pointer"
                        type="button"
                    >
                        <div
                            class="w-full h-full flex items-center justify-center"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#000"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"
                                ></path></svg
                            >
                        </div>
                    </a>
                    <a
                        href="https://discord.gg/qpU4qSXBuT"
                        target="_blank"
                        class="hover:scale-110 bg-[#fff] transition-all duration-200 ease-in-out scale-90 shadow-lg font-normal h-10 w-10 items-center justify-center rounded-full outline-none focus:outline-none mr-2"
                        type="button"
                    >
                        <div
                            class="w-full h-full flex items-center justify-center"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                width="24"
                                height="24"
                                viewBox="0 0 24 24"
                                fill="none"
                                stroke="#000"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                class="icon icon-tabler icons-tabler-outline icon-tabler-brand-discord"
                                ><path
                                    stroke="none"
                                    d="M0 0h24v24H0z"
                                    fill="none"></path><path
                                    d="M8 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
                                ></path><path
                                    d="M14 12a1 1 0 1 0 2 0a1 1 0 0 0 -2 0"
                                ></path><path
                                    d="M15.5 17c0 1 1.5 3 2 3c1.5 0 2.833 -1.667 3.5 -3c.667 -1.667 .5 -5.833 -1.5 -11.5c-1.457 -1.015 -3 -1.34 -4.5 -1.5l-.972 1.923a11.913 11.913 0 0 0 -4.053 0l-.975 -1.923c-1.5 .16 -3.043 .485 -4.5 1.5c-2 5.667 -2.167 9.833 -1.5 11.5c.667 1.333 2 3 3.5 3c.5 0 2 -2 2 -3"
                                ></path><path d="M7 16.5c3.5 1 6.5 1 10 0"
                                ></path></svg
                            >
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div
        class="h-[50px] w-full border-t-2 border-kai-950 flex justify-center items-center"
    >
        <p><b>SurviCraft ©™</b></p>
    </div>
</footer>
