---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/fonts.css';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.avif" />
		<meta name="generator" content={Astro.generator} />
		<title>SurviWeb</title>
	</head>
	<body
		class="h-full from-[#A39A98] bg-gradient-to-b via-[#656160] to-[#656160] text-white"
	>
		<Header />
		<main class="mt-[90px] md:mt-[90px]">
			<slot />
		</main>
		<Footer />
	</body>
</html>

